*~
/.ICEauthority
/.Xauthority
/.cache
/.config
/.dbus
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/projectile.cache
/.emacs.d/straight/build
/.emacs.d/straight/build-cache.el
/.emacs.d/straight/repos
/.emacs.d/tramp
/.emacs.d/transient
/.hex
/.lesshst
/.local
/.mix
/.mozilla
/.serverauth.*
/.ssh
/Downloads
/oss
/priv
/ratio
